* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#verification_heading {
  margin-bottom: 10px;
}

#verification_subtext {
  max-width: 500px;
  text-align: center;
  margin-bottom: 25px;
}

.code-container {
  display: flex;
  gap: 10px;
}

.code {
  width: 60px;
  height: 70px;
  text-align: center;
  font-size: 24px;
}